:root {
    transition: all 0.15s;
    font-family: 'Roboto', sans-serif;
    --Tiffany-Blue: #11bfae;
    --Dark-Electric-Blue: #405D74;
    --Persian-Green: #0DA092;
}

section {
    width: 80%;
    margin: 10%;
    border-radius: 5px;
}

h2 {
    padding-top: 10%;
}

a.empezar {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: var(--Tiffany-Blue);
    border: 2px solid var(--Persian-Green);
    border-radius: 4px;
    margin: 5% 0;
}

#historial {
    padding-bottom: 5%;
}

#div-questions {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

form,
section {
    background-color: #f2f2f0;
    text-align: center;
}


fieldset,
form,
legend,
label,
button[type='submit'] {
    border-radius: 5px;
    padding: 5%;
}

fieldset {
    border: none;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

legend,
label {
    font-size: 1.3em;
    text-align: center;
    width: 90%;
    font-weight: bolder;
    
}

legend {
    background-color: var(--Tiffany-Blue);
    color: #f2f2f0;
    border: 2px solid var(--Persian-Green);
}

label {
    background-color: #f2f2f0;
    color: #1b3c59;
    margin-top: 10%;
}

input[type='radio'] {
    display: none;
    
}

input:checked+label {
    background-color: var(--Dark-Electric-Blue);
    cursor: pointer;
    color: white;
}

h1 {
    color: var(--Dark-Electric-Blue);
    text-align: center;
    margin-top: 10%;
}

button[type='submit'] {
    background-color: var(--Tiffany-Blue);
    color: #f2f2f0;
    padding: 3%;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid var(--Persian-Green);
    margin-top: 10%;
}



    @media screen and (min-width: 763px) {

        section form,
        legend,
        label,
        button[type='submit'] {
            padding: 4%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 5%;
        }

        legend,
        label {
            font-size: 1.5em;
        }
        form {
            padding: 15px;
            text-align: center;
        }
    
    
        #div-questions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    
        legend {
            width: 95%;
        }
    }

    @media screen and (min-width: 1072px) {

        legend,
        label {
            font-size: 1.6em;
        }

        form,
        legend,
        label,
        button[type='submit'] {
            padding: 3%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 3%;
        }
    }

    @media screen and (min-width: 1300px) {

        legend,
        label {
            font-size: 1.7em;
        }

        form,
        legend,
        label,
        button[type='submit'] {
            padding: 2%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 2%;
        }
    }
