:root {
    transition: all 0.15s;
    font-family: 'Roboto', sans-serif;
    --Tiffany-Blue: #11BFAE;
    --Dark-Electric-Blue: #405D74;
    --Persian-Green: #0DA092;
    --Cultured: #f2f2f0;
    --Indigo-Dye: #1B3C59;
}

body {
    background-color: var(--Cultured);
}


section {
    width: 80%;
    margin: 10%;
    border-radius: 5px;
}

h2 {
    padding-top: 10%;
}

a.empezar {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: var(--Tiffany-Blue);
    border: 2px solid var(--Persian-Green);
    border-radius: 4px;
    margin: 5% 0;
}

#historial {
    padding-bottom: 5%;
}

#div-questions {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

form,
section {
    background-color: var(--Cultured);
    text-align: center;
}


fieldset,
form,
legend,
label,
button[type='submit'] {
    border-radius: 5px;
    padding: 5%;
}

fieldset {
    border: none;
    width: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

legend,
label {
    font-size: 1.3em;
    text-align: center;
    width: 90%;
    font-weight: bolder;
    
}

legend {
    background-color: var(--Tiffany-Blue);
    color: var(--Cultured);
    border: 2px solid var(--Persian-Green);
}

label {
    background-color: var(--Cultured);
    color: var(--Indigo-Dye);
    margin-top: 10%;
}

input[type='radio'] {
    display: none;
    
}

input:checked+label {
    background-color: var(--Dark-Electric-Blue);
    cursor: pointer;
    color: white;
}

h1 {
    color: var(--Dark-Electric-Blue);
    text-align: center;
    margin-top: 10%;
}

button[type='submit'] {
    background-color: var(--Tiffany-Blue);
    color: var(--Cultured);
    padding: 3%;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid var(--Persian-Green);
    margin-top: 10%;
}



    @media screen and (min-width: 763px) {

        section form,
        legend,
        label,
        button[type='submit'] {
            padding: 4%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 5%;
        }

        legend,
        label {
            font-size: 1.5em;
        }
        form {
            padding: 15px;
            text-align: center;
        }
    
    
        #div-questions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    
        legend {
            width: 95%;
        }
    }

    @media screen and (min-width: 1072px) {

        legend,
        label {
            font-size: 1.6em;
        }

        form,
        legend,
        label,
        button[type='submit'] {
            padding: 3%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 3%;
        }
    }

    @media screen and (min-width: 1300px) {

        legend,
        label {
            font-size: 1.7em;
        }

        form,
        legend,
        label,
        button[type='submit'] {
            padding: 2%;
        }

        legend,
        label,
        button[type='submit'] {
            margin-top: 2%;
        }
    }

}

/*Home */

#main-home{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
 #bienvenida, #estadisticas{
    border-radius: 7px;
    background-color: #ffffeb ;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.26);
    margin: 15px;
    padding: 10px;
    width: 300px;
    align-items: center;
}


/* Resultados */
 #main-results{
   background-color: #ffffeb;
   border-radius: 7px;
   padding: 10px;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   margin: 15px;

}  


#número-aciertos p{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    background-color: #11bfae;
}

#número-aciertos i{
    text-align: center;
    color: #f2f2f0;
    font-size: 50px;
    align-items: center;
}


